<section>
    <h2><div class="English">Categories</div><div class="Spanish" display="none">Categorías</div></h2>
<ul display=block>
    <li><div class="English"><a href="/blog/categories/rust/#en">Rust</a></div><div class="Spanish"><a href="/blog/categories/rust/#sp">Rust</a></div></li>
    <li><div class="English"><a href="/blog/categories/general/#en">General</a></div><div class="Spanish"><a href="/blog/categories/general/#sp">General</a></div></li>
    <li><div class="English"><a href="/blog/categories/statistics/#en">ML/Statistics</a></div><div class="Spanish"><a href="/blog/categories/statistics/#sp">ML/Estadística</a></div></li>
    <li><div class="English"><a href="/blog/categories/languages/#en">Languages</a></div><div class="Spanish"><a href="/blog/categories/languages/#sp">Idiomas</a></div></li>
</section>
