<section>
{% if site.offline == true %}

    <div style="width: 728px; height: 90px; background: blue;">TEXT AD GOES HERE</div>

{% else %}


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- withinstories -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2732209100674238"
     data-ad-slot="6828344501"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    
{% endif %}
</section>
