
{% if site.offline == true %}

    <div style="display: block width: 970px; height: 90px; background: red;">BOTTOM AD GOES HERE</div>

{% else %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- newbottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2732209100674238"
     data-ad-slot="4031485303"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
   
{% endif %}

