<section>
{% if site.offline == true %}
    <div style="width: 300px; height: 1050px; background: green;">COL AD GOES HERE</div>

{% else %}


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- newsidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2732209100674238"
     data-ad-slot="6566149300"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
{% endif %}
</section>
