// Almost black side background, serif fonts
html {
  background: #252525;
  font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
}

// Do not re-colour header link
body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
  color: #f2f2f2;
  text-decoration: none;
}

h3, section h2, section section h1 {
  font-size: 1.3em;
}

div.posts {
  padding-top: 0;
  padding-bottom: 0;
  float: left;
}

aside.sidebar ul {
  margin-bottom: 0.5em;
  margin-left: 0;
  padding-left: 0;
}

aside.sidebar li {
  list-style: none;
  padding: .5em 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: #fff 0 1px;
}

aside.sidebar a {
  color: inherit;
  transition: color .5s;
}

// Font for headers
.heading, body > header h1, h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
  // font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
}

.main-navigation {
  display: none;
}

.side-links {
  display: none;
}

aside.sidebar {
  float: none;
  padding: 0 18px 1px;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
}

aside.sidebar section {
  font-size: .8em;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}

body > header h1 {
  font-size: 2.2em;
  font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
  display: inline-block;
  margin: 0;
}

// Header Subtitle colour
body > header h2 {
  font-size: 1em;
  color: #aaa;
  font-weight: normal;
  margin: .2em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0;
}

// TODO: Make this specific for blog section?
.content {
  margin: 0;
  padding: 0; // Padding done inside container
}

body > header, body > nav, body > footer, article {
  padding-left: 18px;
  padding-right: 18px;
}


body > nav fieldset.mobile-nav select {
  width: 100%;
  font-size: .8em;
  border: 1px solid #888;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}



body {
  -webkit-text-size-adjust: none;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  line-height: 1.5em;
  color: #222;
}

body > header {
  background: #171717;
  font-size: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}


a:visited {
  color: #751590;
}

div .read-more {
  display: inline;
}

.read-more a {
  background: #ebebeb;
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  text-decoration: none;
  color: #666;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.read-more:hover a {
  background: #0181eb;
  text-shadow: none;
  color: #f8f8f8;
}

.post-title {
  margin-bottom: .5rem;
}

.post-title a { 
  color: inherit;
}

.post-title a:hover {
  color: #0181eb;
  text-decoration: underline;
}


a {
  color: #1863a1;
  transition: color .3s;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-decoration: none;
}

a:hover {
  color: #0181eb;
}

body > nav {
  position: relative;
  background-color: #d03e3b;
  background: linear-gradient(#d85e5c,#d03e3b,#aa2b29);
  border-top: 1px solid #df7b79;
  border-bottom: 1px solid #701d1b;
  padding-top: .35em;
  padding-bottom: .35em;
}

body > nav form {
  background-clip: padding-box;
  margin: 0;
  padding: 0;
  padding-left: 0px;
}

body > nav fieldset[role="search"] {
  float: right;
  border: 0;
  width: 48%;
  margin: 0;
  padding: 0;
}

body > nav form .search {
  padding: .3em .5em 0;
  font-size: .85em;
  font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
  line-height: 1.1em;
  width: 95%;
  border-radius: .5em;
  background-clip: padding-box;
  box-shadow: #d24643 0 1px;
  background-color: #df7b79;
  border: 1px solid #ae2c2a;
  color: #888;
  margin: 0;
}

.blog-content {
  margin-left: 0;
  margin-right: 0; // for sidebar
  background: #f8f8f8;
  border-right: 1px solid #e0e0e0;
}

.blog-content-page {
  margin-left: 0;
  margin-right: 0; // for sidebar
  background: #f8f8f8;
  border-right: 1px solid #e0e0e0;
}

.blog-archives time {
  font-size: .9em;
  line-height: 1.2em;
  font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
}

.blog-archives time .month {
  text-transform: uppercase;
}

.blog-archives article {
  position: relative;
}

.blog-archives h1 {
  font-size: 1.5em;
  color: #222;
  margin-bottom: .3em;
}

.blog-archives h1 a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  display: inline-block;
}

.content .blog-content .posts article h1 {
  font-size: 2.2em;
}

body > nav fieldset.mobile-nav {
  float: left;
  width: 48%;
  border: 0;
  margin: 0;
  padding: 0;
}



body>nav:after, body nav.pagination:after, .sidebar::after, .blog-content::after, .content::after {
 content:"";
 display:table;
 clear:both
}

// Pagination on blog index

.content nav.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  padding-bottom: 3em; // TODO: Fix this so not reliant on padding
  padding-top: 1.5em; 
  font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
}

.content nav.pagination a {
  text-decoration: none;
  color: #3a3a3a;
}

.content nav.pagination a.next {
  right: 0;
  position: absolute;
  margin-right: 1em;
}


.content nav.pagination a.top {
  text-align: center;
}

.content nav.pagination a.previous {
  position: absolute;
  left: 0;
  margin-left: 1em;
}

// TODO: Merge this?
.content nav.pagination a:hover {
  color: #0181eb;
}


.capitalize {
	text-transform: capitalize;
}

article, .taxonomies {
  padding-top: 1em;
}

hr {
  position: relative;
  border: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #fbfbfb;
  margin-top: 2em;
  margin-bottom: 0;
}

hr.within-post {
  margin-top: 0.5em;
}

.post-date {
  display: block;
  color: #9a9a9a;
}

body > div {
  background: #f2f2f2;
}

code {
  font-family: Menlo,Monaco,"Courier New",monospace;
  display: inline-block;
  background: #fff;
  font-size: .9em;
  line-height: 1.5em;
  border: 1px solid #ddd;
  border-radius: 0.4em;
  padding: 0 0.3em;
  margin: -1px 0;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.8em;
  font-size: .8em;
  line-height: 1.45em;
  overflow-x: scroll;
  background-color: #f9f9f9;
}

code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
}

body > footer {
font-size: .8em;
color: #888;
text-shadow: #d9d9d9 0 1px;
background-color: #ccc;
background: linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
border-top: 1px solid #f2f2f2;
position: relative;
padding-top: 1em;
padding-bottom: 1em;
margin-bottom: 3em;
border-bottom-left-radius: .4em;
border-bottom-right-radius: .4em;
z-index: 1;
}

body > footer p:last-child {
  margin: 0;
}

body > footer a {
  color: #6b6b6b;
  text-decoration-line: underline;
}
body > footer a:visited {
  color: #6b6b6b;
}

body > footer a:hover {
color: #484848;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

* + table th, * + table td {
  border-style: dashed;
  border-width: 1px;
  border-color: #e7e3e7;
  padding-left: 15px;
  padding-right: 15px;
}

* + table th {
  border-style: solid;
  font-weight: bold;
  background: #F7F3F7;
}

article img {
  max-width: 100%;
  height: auto;
}


@media only screen and (min-width: 480px) {
  body > header, body > nav, body > footer, article, .taxonomies {
    padding-left: 25px;
    padding-right: 25px;
  }
}


@media only screen and (min-width: 550px) { 
  .blog-archives article {
    padding-left: 4.5em;
    padding-bottom: .7em;
    margin-left: 5em;
  }

  .blog-archives h2 {
    margin-bottom: .3em;
    font-weight: normal;
    display: inline-block;
    position: relative;
    top: -1px;
    float: left;
  }

  .blog-archives time {
    position: absolute;
    text-align: right;
    left: 0em;
    top: 1.8em;
  }

  aside.sidebar {
    width: 210px;
    padding: 1.2em 20px 20px;
    background: none;
    clear: none;
    float: left;
    margin: 0 -100% 0 0;
  }

  .blog-content { 
    margin-right: 200px; // for sidebar
  }

  body > nav fieldset.mobile-nav {
    display: none;
  }

  body > nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    float: left;
    display: block;
    padding-top: .15em;
  }

  body > nav ul.main-navigation {
    display: block;
  }

  body > nav ul.side-links {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    float: right;
    display: block;
    padding-top: .15em;
    margin-right: 2em;
  }

  body > nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }

  body > nav form {
    float: right;
    text-align: left;
    padding-left: .8em;
    width: 175px;
  }

  body > nav {
    font-size: .9em;
  }

  body > nav fieldset[role="search"] {
    width: 99%;
  }

  body > nav form .search {
    width: 93%;
    font-size: .95em;
    line-height: 1.2em;
  }

  body > nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }

  body > nav a:visited {
    color: #3b0f0e;
  }

  body > nav a {
    color: #3b0f0e;
    font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
    text-shadow: #dc6e6c 0 1px;
    float: left;
    text-decoration: none;
    font-size: 1.1em;
    padding: .1em 0;
    line-height: 1.5em;
  }

  body > nav li + li {
    border-left: 1px solid #aa2b29;
    margin-left: .8em;
  }

  body > nav li + li a {
    padding-left: .8em;
    border-left: 1px solid #d75a58;
  }

  body > nav a:hover {
    color: #000;
  }
}


@media only screen and (min-width: 768px) {
  aside.sidebar {
    width: 210px;
    padding: 1.2em 20px 20px;
    background: none;
    clear: none;
    float: left;
    margin: 0 -100% 0 0;
  }

  aside.sidebar section {
    width: auto;
    margin-left: 0;
  }

  .blog-content {
    margin-right: 240px; // for sidebar
  }

  body {
    -webkit-text-size-adjust: auto;
  }
  body > header, body > nav, body > footer, article, .taxonomies {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media only screen and (min-width: 992px){
  body {
  font-size: 1.15em;
  }

  aside.sidebar {
    width: 260px;
    padding: 1.2em 20px 20px;
  }

  .blog-content { 
    margin-right: 300px; // for sidebar
  }
  body > header {
    font-size: 1.3em;
    padding-left: 55px;
    padding-right: 55px;
  }
  body > nav form {
    width: 215px;
  }
  body > header, body > nav, body > footer, article, .taxonomies {
    padding-left: 55px;
    padding-right: 55px;
  }
  body nav.pagination {
  margin-left: 55px;
  margin-right: 55px;
  }

  h1 {
    font-size: 2.6em;
    line-height: 1.2em;
  }

}

aside.sidebar {
  overflow: hidden;
  color: #4c4c4c;
  text-shadow: #fff 0 1px;
}

.blog-archives {
  color: #aaa;
}
