<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">


      <script>

//$(window).ready(changeAllPosts(getLang()));       
       //window.onload=changeAllPosts(getLang());

function pageLoad() {
           if (window.location.hash){
             var hash = window.location.hash.substring(1);
               if (hash=="sp" || hash=="en"){
               changeLang(hash);
                   }
           } else {
               changeAllPosts(getLang());

           }
}
       
function changeLang(lang){
window.location=document.location.href.match(/(^[^#]*)/)[0]+"#"+lang
if (window["title"+lang]){
document.title=window["title"+lang];
           }
console.log("title"+lang);
console.log(window["title"+lang]);           
           
setLang(lang);
changeAllPosts(lang);
}
       
function setLang(lang){
    var exdays=30;
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toGMTString();
    document.cookie = "lang=" + lang + "; " + expires + "; path=/";
}
       
function getLang() {
    var name = "lang" + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
    }
    return "en";
}


function changeAllPosts(lang){
//TODO: Change subtitle too
console.log(lang);
l=document.getElementsByClassName("titleEnglish");
l2=document.getElementsByClassName("titleSpanish");
l3=document.getElementsByClassName("English");           
l4=document.getElementsByClassName("Spanish");
l5=document.getElementsByClassName("enbutton");
l6=document.getElementsByClassName("esbutton");
var arrayLength = Math.max(l.length,l3.length);
for (var i = 0; i < arrayLength; i++) {
if (lang=="sp"){

if (typeof l[i] !== 'undefined') {
l[i].style.display="none";
}
if (typeof l2[i] !== 'undefined') {                   
l2[i].style.display="inline";
}                       
if (typeof l3[i] !== 'undefined') {
l3[i].style.display="none";
}
if (typeof l4[i] !== 'undefined') {
l4[i].style.display="inline";
}                               
if (typeof l5[i] !== 'undefined') {
l5[i].disabled=false;
}
if (typeof l6[i] !== 'undefined') {                   
l6[i].disabled=true;
}
                               
document.getElementById("hsubtitleEnglish").style.display="none";
document.getElementById("hsubtitleSpanish").style.display="inline";

} else if (lang=="en"){
if (typeof l[i] !== 'undefined') {               
l[i].style.display="inline";
}                   
if (typeof l2[i] !== 'undefined') {                   
l2[i].style.display="none";
}
if (typeof l3[i] !== 'undefined') {               
l3[i].style.display="inline";
}
if (typeof l4[i] !== 'undefined') {               
l4[i].style.display="none";
}
if (typeof l5[i] !== 'undefined') {               
l5[i].disabled=true;
}
if (typeof l6[i] !== 'undefined') {               
l6[i].disabled=false;
}                   
document.getElementById("hsubtitleEnglish").style.display="inline";
document.getElementById("hsubtitleSpanish").style.display="none";
}


} 
}
       
function showSpanish(btn){
     var test = btn.parentNode.parentNode.getElementsByClassName("entry-title");

test[0].getElementsByClassName("titleEnglish")[0].style.display="none";
test[0].getElementsByClassName("titleSpanish")[0].style.display="inline";
var test2=btn.parentNode.parentNode.parentNode.getElementsByClassName("Spanish");
     test2[0].style.display="inline";


var test2=btn.parentNode.parentNode.parentNode.getElementsByClassName("English");
     test2[0].style.display="none";


     btn.parentNode.getElementsByClassName("enbutton")[0].disabled=false;
        btn.disabled=true;

}
</script>


<script>
function showEnglish(btn){
     var test = btn.parentNode.parentNode.getElementsByClassName("entry-title");

test[0].getElementsByClassName("titleEnglish")[0].style.display="inline";
test[0].getElementsByClassName("titleSpanish")[0].style.display="none";
var test2=btn.parentNode.parentNode.parentNode.getElementsByClassName("Spanish");
     test2[0].style.display="none";


var test2=btn.parentNode.parentNode.parentNode.getElementsByClassName("English");
     test2[0].style.display="inline";


     btn.parentNode.getElementsByClassName("esbutton")[0].disabled=false;
        btn.disabled=true;

}

$(window).load(changeAllPosts(getLang()));
</script>

